.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto ;
  
}

.dash_profile {
  display: flex;
  justify-content: space-between;
}

.sidebar-img {
  padding: 30px;
  height: 100vh;
  object-fit: cover;
}

.dashboard-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f9fa;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.logout-button {
  padding: 5px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.logout-button:hover {
  background-color: #c82333;
}

.search-bar {
  margin: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.dashboard-table th {
  background-color: #f8f9fa;
  color: #B5B7C0;
  font-weight: bold;
}

.dashboard-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dashboard-table tr:hover {
  background-color: #f1f1f1;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.status.active {
  background-color: #28a745;
  color: #fff;
}

.status.inactive {
  background-color: #dc3545;
  color: #fff;
}

.background-img {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}